.contenedorForm {
    padding: 3rem;
    color: white;
    background-color: rgb(65, 65, 65);
    font-weight: bold;
    border-radius: 30px;
    width: 500px;
    height: 600px;
}

.error {
    color: red;
    font-weight: bold;
}

.succes {
    color: green;
    font-weight: bold;
}
  